.card-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.mat-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
  background-color: #97d7b0;
  border-radius: 10px;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.card-title{
  font-size: 2rem;
  color: #F0DA8B;
  font-weight: bold;
  margin: 2% 0;
}

