<p>
  <mat-toolbar color="primary" aria-label="Main toolbar">
    <button mat-icon-button class="example-icon" aria-label="Menu button">
      <mat-icon>menu</mat-icon>
    </button>
    <span>PizzaPlaneta</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Favorite button">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-fab extended (click)="redirectToHome()">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button mat-fab extended (click)="redirectToMovies()">
      <mat-icon>movie</mat-icon>
      Peliculas
    </button>
  </mat-toolbar>
</p>

